<section>
	<h1>This is my CRM Web Server Assignment</h1>

	<p>You can view the contacts in the rolodex here: <a href="
	/contacts">Contacts</a></p>

	<p>You can add a new contact to the rolodex here: <a href="
	/contacts/new">Add a New Contact</a></p>

</section>