
	<h1>Add a New Contact</h1>

	<form action ="/contacts" method="post">
		<label for="first_name"><h3>First Name</h3></label>
		<input type="text" name="first_name" placeholder="First Name">

		<label for="last_name"><h3>Last Name</h3></label>
		<input type="text" name="last_name" placeholder="Last Name">

		<label for="email"><h3>Email</h3></label>
		<input type="text" name="email" placeholder="Email">

		<label for="note"><h3>Note</h3></label>
		<textarea name="note" placeholder="Type in a description for this contact here"></textarea>

		<input type="submit">
	</form>
